body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  display: flex;
  gap: 1em;
  list-style: none;
  padding-inline-start: 0;
}

li {
  cursor: pointer;
}
